.search {
  display: flex;
  flex-direction: row;
  gap: 10px;

  width: 400px;

  margin: 10px;
}

input {
  flex-grow: 1;
  outline: none;
}

.editor {
  display: block;
  box-sizing: border-box;

  width: 400px;
  height: 80px;

  padding: 5px;
  margin: 0 10px;

  overflow: auto;

  outline: none;

  resize: both;

  font-size: 12px;
  line-height: 14px;
  font-family: monospace;

  color: rgba(0, 0, 0, 1);
}

.overlay {
  position: absolute;
  z-index: 2;

  display: block;
  box-sizing: border-box;

  width: 400px;
  height: 80px;

  padding: 5px;
  margin: 1px 11px;

  font-size: 12px;
  line-height: 14px;
  font-family: monospace;
  pointer-events: none;

  color: rgba(0, 0, 0, 0);

  overflow-y: hidden;
}

.highlight {
  background-color: rgba(255, 255, 0, 0.5);
  pointer-events: none;
  color: rgba(0, 0, 0, 1);
}

.text-container {
  position: relative;
}
