.search {
  display: flex;
  flex-direction: row;
  gap: 10px;

  width: 400px;

  margin: 10px;
}

input {
  flex-grow: 1;
  outline: none;
}

.editor {
  display: block;
  box-sizing: border-box;

  width: 400px;
  height: 80px;

  padding: 5px;
  margin: 0 10px;

  overflow: auto;

  outline: none;

  resize: both;

  font-size: 12px;
  line-height: 14px;
  font-family: monospace;

  color: rgba(0, 0, 0, 1);
}
